# The Bastion Host
Host ZODIAC
  HostName home.ioni.ca
  Port 1122

# Remotes
Host SPARK
  HostName 192.168.1.77
  ProxyJump zodiac

Host HOLE
  HostName 192.168.1.99
  ProxyJump zodiac

Host NAS
  HostName 192.168.1.63
  ProxyJump zodiac

Host *
  IdentitiesOnly yes
  StrictHostKeyChecking no
  GlobalKnownHostsFile /dev/null
  UserKnownHostsFile /dev/null
