# The Bastion Host
Host bastion
  HostName home.mec7.dev
  Port 22574

# Remotes
Host spark
  HostName 192.168.7.183
  ProxyJump bastion

Host hole
  HostName 192.168.7.13
  ProxyJump bastion

Host nas
  HostName 192.168.7.20
  ProxyJump bastion

Host rpi
  HostName 192.168.7.18
  ProxyJump bastion

Host *
  User ansible
  IdentityFile deploy_rsa
  IdentitiesOnly yes
  StrictHostKeyChecking no
  GlobalKnownHostsFile /dev/null
  UserKnownHostsFile /dev/null
