# The Bastion Host
Host bastion
  HostName home.ioni.ca
  Port 62396

# Remotes
Host spark
  HostName 192.168.1.77
  ProxyJump bastion

Host hole
  HostName 192.168.1.99
  ProxyJump bastion

Host nas
  HostName 192.168.1.63
  ProxyJump bastion

Host rpi
  HostName 192.168.1.162
  ProxyJump bastion

Host *
  User ansible
  IdentityFile deploy_rsa
  IdentitiesOnly yes
  StrictHostKeyChecking no
  GlobalKnownHostsFile /dev/null
  UserKnownHostsFile /dev/null
