---
- name: Ansible
  hosts: all
  become: yes
  gather_facts: false
  pre_tasks:
  - name: Install Python for Ansible
    package:
      name: python3
      state: present
  - name: Ansible user
    user:
      name: ansible
      uid: 2674
      state: present
  - name: Ansible user authorized keys
    authorized_key:
      user: ansible
      key: "{{ deploy_ssh_rsa }}"
      exclusive: yes
      state: present
  - name: Add Ansible user to Sudoers
    lineinfile:
      path: /etc/sudoers.d/00_ansible
      line: 'ansible ALL=(ALL) NOPASSWD: ALL'
      state: present
      mode: 0440
      create: yes
      validate: 'visudo -cf %s'
  - name: Gather facts
    setup:
