---
- name: Common tasks on all nodes
  hosts: all
  become: yes
  vars:
    swap_file_size_mb: '1024'
  pre_tasks:
    - name: Make sure Aptitude is installed
      package:
        name: aptitude
        state: present
      when: ansible_os_family == "Debian"
    - name: Update all packages
      package:
        name: '*'
        state: latest
  roles:
    - role: geerlingguy.repo-epel
      when: ansible_os_family == "RedHat"
    - yatesr.timezone
    - geerlingguy.pip
    - role: geerlingguy.swap
      when: swap_enabled is defined and swap_enabled
    - vladgh.common
